/* Colors */
$brown = #a16d46
dark-gray = #616161


/* Sticky Footer */
body
  display: flex;
  min-height: 100vh;
  flex-direction: column;
 
footer
  flex: 1 0 auto;

h1
  color dark-gray

h5
  color gray

