/* ====================================================================== 
  #PAGE COMPONENTS
====================================================================== */ 

/* Navbar */
.brand-logo
  >img
    margin-top .25em

.nav-link
  color #616161


/* Footer */
footer.page-footer
  background-color $brown

.footer-copyright
  text-align center




/* ====================================================================== 
  #HOME
====================================================================== */ 

.hero
  text-align center
  margin 3rem auto 5rem

.main-title
  // text-transform uppercase
  font-size 3rem
  font-weight 600




/* ====================================================================== 
  #GALLERY
====================================================================== */ 

.gallery-img
  margin-bottom 2em
  transition box-shadow 0.2s
  &:hover
  &:focus
    box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)




/* ====================================================================== 
  #ACCOUNT
====================================================================== */ 

.account-form
  min-height 28em

.tab-bar
  margin-bottom 1em
  >.indicator
    background-color lighten($brown, 50%)
  >.tab>a
    color $brown
    &:hover
      color lighten($brown, 50%)
