/* Navbar */
.brand-logo
  >img
    margin-top .25em

.nav-link
  color #616161

.dropdown-content>li>a
  padding 1.45rem 1rem




/* Footer */
footer.page-footer
  background-color $brown

.footer-copyright
  width 100%
  position absolute
  bottom 0
  text-align center

