footer.page-footer
  .container
    .row
      .col.l6.s12
        h5.white-text Email Newsletter
        p.grey-text.text-lighten-4 Subscribe to our newsletter to get the latest update for our models!
        a.waves-effect.waves-light.btn
          i.material-icons.right send
          | Subscribe
      .col.l4.offset-l2.s12
        h5.white-text Follow Us
        ul
          li
            a.grey-text.text-lighten-3(href='https://www.facebook.com/Automoblox',
            target='_blank') Facebook
          li
            a.grey-text.text-lighten-3(href='https://twitter.com/Automoblox', target='_blank') Twitter
          li
            a.grey-text.text-lighten-3(href='https://www.youtube.com/user/AutomobloxCo', target='_blank') YouTube
          li
            a.grey-text.text-lighten-3(
              href='#coming-soon'
              onclick="Materialize.toast('Coming Soon', 3000)"
            ) Instagram
  .footer-copyright
    | © 2015 Copyright The Automoblox Company
