.navbar-fixed
  nav.white
    .nav-wrapper.container
      a.brand-logo(href='http://gc-assignments.github.io/comp2081-project1/') 
        +png('logo', 'Automoblox logo')
      ul.right.hide-on-med-and-down.nav-links
        block navlinks
